:root {
  --color-gray: rgb(143, 143, 143);
}
.date-picker {
  margin: 0 auto;
  position: relative; 
  width: 350px; 
  min-width: 350px;
  height: 550px;
}
.date-picker-input {
  border: 1px solid var(--color-gray);
  border-radius: 3px;
  margin-top: 15px;
  cursor: pointer;
  font-size: 12px; 
  width: 210px;
  height: 25px;
  padding-left: 5px;
}
.date-picker-input:focus {
  outline: none;
  border: 1px solid #6392f7;
  border-radius: 3px;
}
.date-picker-title {
  color: #ba786c;
  font-size: 35px;
  font-weight: 400;
}